.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonselect{
    background-color: cadetblue;
}
.fetchlist{
    background-color: rgb(134, 132, 132);
    font-weight: bolder;
    
}